<!DOCTYPE html>
<html>
    <head>
        <title>Sistema de Controle de Caixa</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}" >
    </head>
    <body>
        <div class="container">
            <h1>Atualização de Historico</h1>
            <hr>
            <form action="#" th:action="@{/salvarHistorico}" th:object="${historico}" method="POST">
                <input type="text" th:field="*{descricao}" placeholder="Informe a descrição da conta" class="form-control mt-4 col-4">
                <input type="text" th:field="*{complemento}" placeholder="Informe se o histórico terá complemento S-Sim ou N-Não" class="form-control mt-4 col-4">
                <input type="hidden" th:field="*{id}">
                <button type="submit" class="btn btn-info mt-4">Atualizar</button>
            </form>
            <hr>
            <a th:href="@{/listarTodasContas}">Retornar para a Listagem</a>
        </div>
        <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    </body>
</html>